{% extends 'base.html' %}

{%block body%}
<div class='mx-auto' style= 'width: 600px;'>
    <div class="row">
        <div class="col text">
            <form method="POST" action="" class="border p-4 mt-2" >
                {{ form.csrf_token }}
                <h2> Crie o seu post</h2>
                <fieldset>
                    <div class="form-group">
                        {{ form.titulo.label(class="form-control-label") }}
                        {{form.titulo(class='form-control')}}
                    </div>
                    <div class="form-group">
                        {{ form.corpo.label(class="form-control-label") }}
                        {{form.corpo(class='form-control')}}
                    </div>
 
                </fieldset>
                {{ form.botao_submit_criarpost(class="btn btn-primary mt-2 p-2") }}
                    
            </form>
        </div>
</div>    
{%endblock%}
