{% extends 'base.html' %}

{%block body %}
    <div class='container'>
        <h1> Usuários</h1>
        {% for usuario in lista_usuarios %}
        <div class="container d-flex justify-content-center">
            <div class = 'row mt-5 md-5'>
                <div class="card p-3 py-4">
                    <div class="text-center"> <img src="{{url_for('static', filename = 'fotos_perfil/{}'.format(usuario.foto_perfil))}}" width="100" class="rounded-circle">
                        <h3 class="mt-2">{{usuario.username}}</h3> <span class="mt-1 clearfix">{{usuario.email}}</span>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <span class="rating">Posts</span> <span class="number">{{usuario.contar_posts()}}</span>
                            </div>
                            <div class="col-md-4">
                                {%if 'Não' in usuario.area_de_atuacao %}
                                    <span class="articles">Stacks</span> <span class="number1">0</span>
                                {%else%}
                                    <span class="articles">Stacks</span> <span class="number1">{{ usuario.area_de_atuacao.count(';') + 1}}</span>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;" class="mt-2">
                        <strong>Stacks</strong>
                        </div>
                        {%for stack in current_user.area_de_atuacao.split(';')%}
                            <button type = 'button' class="btn btn-light mt-2" disabled> 
                            {{stack}}
                            </button>
                        {%endfor%}
                </div>
            </div>
        </div>    
              
        {% endfor %}
        <div class="mt-5">     
    </div>
          
{% endblock %}
