{% extends 'base.html' %}

{%block body %}
<div class="container mt-3">
   
    
    
    <div class="row border mt-4 p-3 meuposte">
        <div class="col col-3">
            <div class="image pe-2"> <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200"> </div>
            <strong>{{ post.autor.username }}</strong>
            <div class="row justify-content-center">
                    {% for stack in post.autor.area_de_atuacao.split(';') %}
                        <button type="button" class="btn btn-outline-dark mt-2" disabled>{{ stack }}</button>
                    {% endfor %}
            </div>
        </div>
        <div class="col col-9">
            <h3>{{ post.titulo }}
                <small class= 'text-muted' style= 'font-size: 17px'> -Data de criação: {{post.data_criacao.strftime('%d/%m/%Y')}}
                    {% if form %}
                         <a href="#form-editar-post">Editar post </a> / 
                         <a href="#" data-bs-toggle="modal" class = 'text-danger' data-bs-target="#ExcluirPost">Excluir Post</a>
                    {%endif%}
                </small>
            </h3>
            <p>{{ post.corpo }}</p>
        </div>

    </div>
</div> 
{% if form %}
<div class='mx-auto' style= 'width: 600px;'>
    <div class="row">
        <div class="col text">
            <form method="POST" action="" id = 'form-editar-post' class="border p-4 mt-2" >
                {{ form.csrf_token }}
                <h2> Edite o seu post</h2>
                <fieldset>
                    <div class="form-group">
                        {{ form.titulo.label(class="form-control-label") }}
                        {{form.titulo(class='form-control')}}
                    </div>
                    <div class="form-group">
                        {{ form.corpo.label(class="form-control-label") }}
                        {{form.corpo(class='form-control')}}
                    </div>
 
                </fieldset>
                {{ form.botao_submit_criarpost(class="btn btn-primary mt-2 p-2") }}
                    
            </form>
        </div>
</div>    
{%endif%}
<div class="modal fade" id="ExcluirPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Excluir Post</h5>
          <a href="{{url_for('exibir_post', post_id= post.id)}}">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </a>
        </div>
        <div class="modal-body">
          Deseja realmente excluir este post? (Essa ação não pode ser desfeita)
        </div>
        <div class="modal-footer">
          <a href="{{url_for('exibir_post', post_id= post.id)}}">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </a>
          <form method = 'POST', action = "{{url_for('excluir_post', post_id=post.id)}}"> 
            <button type="submit" class="btn btn-danger">Excluir post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
